@import url('https://fonts.googleapis.com/css2?family=Inder&family=Indie+Flower&display=swap');

// COLORS
$bgcolor1: #1f2035;
$bgcolor2: #111622;
$color: #fff;
$descColor: #AF78F4;
$tagColor: #FC62D1;
$usernameColor: #20A8B0;
$barColor: #111622;
$skillBarColor: #20A8B0;
$buttonColor: #3548F2;

$red: #F8126A;
$blue: #45AFE3;
$orange: #FE672C;
$blue: #1877F2;
$pink: #D654D9;
$purple: #AF78F4;

// FONTS
$usernameFont: 'Indie Flower', cursive;
$font: 'Inder', sans-serif;
$navFontSize: 16px;
$usernameFontSize: 52px;
$descFontSize: 24px;
$topicFontSize: 36px;
$haderFontSize: 36px;
$skillsHeaderFontSize: 36px;
$skillsDescFontSize: 18px;
$projectNameFontSize: 24px;
$repositoryFontSize: 20px;
$contactHeaderFontSize: 26px;
$contactDescFontSize: 22px;
$contactEmailFontSize: 18px;
$descMobileFontSize: 20px;
$iconsSize: 36px;
