/* 
* TODO: ADD RED COLOR TO ACTIVE ROUTE
*/

// NAVIGATION
ul{
  list-style: none;
  margin: 0;
  font-size: $navFontSize;

  li{
    float: left;
    margin-right: 20px;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

.username-block{
  font-family: $usernameFont;
  font-size: $usernameFontSize;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);

  .username{
    color: $usernameColor;
    margin-left: 60px;
  }
}

.desc{
  font-size: $descFontSize;
  position: absolute;
  width: 35%;
  top: 50%;
  left: 45%;
  transform: translate(-50%,-50%);

  .tag{
    color: $tagColor;
  }
  
  .desc-tag-title{
    color: $descColor;
  }
}

.icons{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons > * {
  margin: 10px;
  font-size: $iconsSize;
}

