/* 
* TODO: ADD RED COLOR TO ACTIVE ROUTE
*/

// NAVIGATION
ul{
  list-style: none;
  margin: 0;
  font-size: $navFontSize;

  li{
    float: left;
    margin-right: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.username-block{
  font-family: $usernameFont;
  font-size: $usernameFontSize;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;

  .typing-overlay{
    width: 0%;
    height: 100%;
    background: $bgcolor1;
    position: absolute;
    right: 0%;
    animation: typing 3s 0s linear;

    @keyframes typing{
      from{
        width: 100%;
        opacity: 1;
      }
      to{
        width: 0%;
        opacity: 0.7;
        display: none;
      }
    }
  }

  
  .username{
    color: $usernameColor;
    margin-left: 60px;
  }
}

.desc{
  font-size: $descFontSize;
  position: absolute;
  width: 35%;
  top: 50%;
  left: 45%;
  transform: translate(-50%,-50%);
  
  .tag{
    color: $tagColor;
  }
  
  .desc-tag-title{
    color: $descColor;
  }
}

.icons{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons > * {
  margin: 10px;
  font-size: $iconsSize;
}

.skill-image{
  width: 40px;
}

.skill-card{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 80%;
  position: relative;
  left: 50%;
  display: block;
  overflow: auto;
  transform: translate(-50%);
  margin-bottom: 20px;
  padding: 10px;
  float: left;
  margin-top: 100px;

  .bar{
    height: 15px;
    width: 100%; 
    border-radius: 10px;
    background: $barColor;

    .bar-content{
      height: 100%;
      border-radius: inherit;
      background: $skillBarColor;
    }
  }

  .skill-title{
    font-size: $skillsHeaderFontSize;
  }

  .skill-desc{
    font-size: $skillsDescFontSize;
  }

  .skill{
    margin-top: 40px;
  }
}

.purple-color{
  color: $purple;
}

.pink-color{
  color: $pink;
}

.section-header{
  font-size: $haderFontSize;
}

#contact-page{
  .contact-property{
    color: $purple;
    font-size: $contactHeaderFontSize;
  }

  .contact-value{
    font-size: 22px;
    margin-left: 30px;

    a{
      text-decoration: underline;
      text-decoration-color: whitesmoke;
    }
  }
}

.go-to-top-icon{
  font-size: 50px;
  color: #1877F2;
}

// PROJECTS
.projects-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 30px;

  .project{
    img{
      width: 100%;
    }

    .project-title{
      color: $pink;
      float: left;
    }

    .repository{
      color: $blue;
      float: right;
    }
  }
}

//FADE TRANSITION
.fade{
  opacity: 0;
}

.fade-appear{
  opacity: 1;
  transition: opacity 1.5s ease-in 200ms;
}

//EMAIL SECTION

.send-email-section{
  label span{
    font-size: $contactEmailFontSize;
  }

  input, textarea{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    font-size: $contactEmailFontSize;
    color: #fff;
    padding: 5px;
  }

  input{
    height: 40px;
  }

  textarea{
    width: 90%;
    resize: none;
    height: 350px;
  }

  button{
    position: absolute;
    width: 183.34px;
    height: 42.59px;
    background: rgba(53, 72, 242, 0.92);
    border-radius: 17px;
    line-height: 22px;
    font-size: $contactEmailFontSize;
    color: #fff;
    border: none;
    position: absolute;
    left: 50%;
    margin: 40px 0 0;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 700px) {
  .skill, .skill-desc{
    font-size: 32px;
  }

  .projects-container{
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}

@media screen and (max-width: 644px) {
  .desc{
    top: 60%;
    font-size: $descMobileFontSize;
    width: 60%;
  }

  .username-block{
    left: 40%;
    top: 20%;
  }

  .icons{
    top: 90%;
  }
}
